
.nature-autocomplete {
    text-align: center;
    flex: 1;
}

.nature-autocomplete-text {
    width: 4.3em;
}


@media screen and (max-width: 370px) {
    .nature-autocomplete-detail-text {
        font-size: 12px;
    }
}