.all-base-stats-panel {
    display: flex;
    flex-direction: column;
}

.remaining-ev-panel {
    display: flex;
    flex-direction: row;
    padding: 15px 0px;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.pos-remaining-ev-color {
    color: rgba(var(--nordBlack), 1);
}

.neg-remaining-ev-color {
    color: rgba(var(--negativeRemainingEVColor), 1);
}
