.slider-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 40px;
    padding: 0px 10px 0px;
    gap: 10px;
    touch-action: pan-y pinch-zoom;
}

.slider-panel > .extremes-panel {
    display: flex;
    flex-direction: row;
    width: 2em;
    justify-content: center;
    align-items: center;
}

.extremes-panel > .extremes-label {
    font-size: 12px;
    text-align: center;
}

.slider-panel > .stretch {
    flex: 1;
}

.slider-panel > .central-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.central-panel > .central-label {
    text-align: center;
    width: 4.5em;
    color: rgba(var(--nordBlack), 1);
    font-weight: bold;
}

.step-panel {
    display: flex;
    flex-direction: row;

    margin: 10px 5px;
    align-self: stretch;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    border-radius: 5px;
}