.app {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: rgba(var(--nordWhite), 1);
    gap: 10px;
}

@media screen and (max-width: 400px) {
    .tab-title {
        font-size: 0.8em;
    }
}