.base-stat-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}

.base-stat-panel > .base-stat-text-label {
    width: 2em;
    font-size: 45px;
    text-align: center;
}

.base-stat-panel > .base-stat-value-label {
    width: 8em;
    text-align: center;
}

.unchanged-value-color {
    color: rgba(var(--nordBlack), 1);
}

.increased-value-color {
    color: rgba(var(--nordGreen), 1);
}

.decreased-value-color {
    color: rgba(var(--nordRed), 1);
}