.pokemon-main-info-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
}

.pokemon-main-info-panel .subpanel {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    align-items: center;
    align-self:center;
    gap: 10px;
}

.pokemon-main-info-panel > .vert-subpanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 10px;
}

.pokemon-main-info-panel > .species-panel {
    gap: 10px;
}

.pokemon-main-info-panel > .level-nature-panel {
    gap: 30px;
}

.pokemon-main-info-panel > .subpanel > .label {
    width: 3em;
}

.subpanel > .spinbox {
    width: 40px;
}

.autocomplete {
}

.species-autocomplete {
    width: 140px;
}

.nature-autocomplete {
    text-align: center;
    width: 80px;
}

.autocomplete-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px 0px;
    border-bottom: 1px solid gray;
    min-height: 25px;
}

.autocomplete-item:last-child {
    border-bottom: none;
}

.nature-autocomplete-text {
    width: 4.5em;
}