.stat-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(var(--nordWhite), 1);
    border-bottom: 1px solid gray;
}
.stat-panel:last-child {
    border-bottom: none;
}

.inner-stat-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.inner-stat-panel > .ev {
    background-color: rgba(var(--nordBlue), 0.5);
}

.inner-stat-panel > .final-stat {
    background-color: rgba(var(--nordGreen), 0.5);
}