.stat-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(var(--nordWhite), 1);
    border-bottom: 1px solid gray;
}
.stat-panel:last-child {
    border-bottom: none;
}

.stat-panel > .label {
    width: 2em;
    color: rgba(var(--nordBlack), 1);
    font-size: 50px;
    text-align: center;
    padding: 0px 10px 0px;
}

.inner-stat-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.inner-stat-panel > .ev {
    background-color: rgba(var(--nordBlue), 0.5);
}

.inner-stat-panel > .main {
    background-color: rgba(var(--nordGreen), 0.5);
}
